<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- The meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>teamform - member page</title>

    <script src="lib/jquery.min.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">

    <!-- Custom CSS -->
  	<link href="css/business-casual.css" rel="stylesheet">

    <!-- Material Design Lite CDN -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.orange-indigo.min.css" />
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>

    <!-- Angular Material CDN -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Fonts -->
 	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
  	<link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
  	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">


    <!-- Customized libraries shared by pages -->
    <script src="js/site.js"></script>
    <script src="js/common.js"></script>
</head>
<body>
    <div ng-app="teamform-user-app" ng-controller="UserCtrl">
        <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

            <header>
            	<div class="brand">Team-forming</div>
  				<div class="address-bar">A real-time online team forming app for any event</div>
            </header>
<main>
<div class="container">
<div class="row">
<div class="box">
<div class="col-lg-12">
	<div ng-if="user">
	<div class="container">
        	<div class="row">
        		
        	    <div class="col-sm-9">
        	       <h3>{{user.displayName}}</h3>
                </div>
                <div class="col-sm-3">
                    <img ng-src="{{user.photoURL}}" />
                </div>
            </div>

            <div class="row">
               <span>email: {{user.email}}</span>
               <br><br>
            </div>

           <div class="row">
    	       <div class="col-sm-4">
                    <span>Tags:</span>
                    <ul>
                        <li ng-repeat="skill in skills">{{skill.$value}}</li>
                    </ul>
                </div>
	       
                   <div class="col-sm-8">
                        <form>
                            <div class="row">
                            <div class="col-sm-8">
                            <div class="form-group">
                                <label>Tags: </label>
                                <input type="text" class="form-control" id="skillInput" ng-model="$parent.skillInput" >
                            </div></div></div>
                <button type="submit" ng-click="addSkill()" class="btn btn-info">Add Tag</button>

                        </form>
        	        </div>
           
	       </div>
	 </div>


	<div class="container">
    <div class="col-md-8">
	    <ul class="nav nav-tabs">
            <li style="padding-top: 4px; padding-bottom: 4px;" class="active"><a data-toggle="tab" href="#pe">Participating Events</a></li>
            <li style="padding-top: 4px; padding-bottom: 4px;"><a data-toggle="tab" href="#mwy">Matching with you</a></li>
        </ul>

        <div class="tab-content">
	        <div id="pe" class="tab-pane fade in active">
	            <h3>Participating Events</h3>
	            <md-card ng-repeat="(eventKey, eventValue) in userObj.events">
	                <md-card-title>
	                    <md-card-title-text>
	                        <span style="font-size: 50px; padding-bottom: 5px;font-family: Impact, Charcoal, sans-serif;">{{eventKey}}</span>
	                        <span style="color: #04910E; padding-top: 10px;
                            padding-left: 10px; font-family: "Arial Black", Gadget, sans-serif">{{eventValue.team}}</span>
	                    </md-card-title-text>
	                </md-card-title>
	                <md-card-content ng-if="!eventValue.team">
	                    <md-subheader>Requests</md-subheader>
	                    <md-content>
	                        <md-list ng-cloak>
	                            <md-list-item ng-repeat="request in eventValue.selection" ng-href="team.html?event={{eventKey}}&team={{request}}">
	                                <span>{{request}}</span>
	                            </md-list-item>
	                        </md-list>
	                    </md-content>
	                </md-card-content>
	            </md-card>
	        </div>

	        <div id="mwy" class="tab-pane fade">
	            <h3>Current Matching with you</h3>
	            <md-card ng-repeat="recommendation in recommendations">
	                <md-card-title>
	                    <md-card-title-text>
	                        <span style="color: #960E20 ;font-size: 30px; padding-bottom: 5px; font-family: Impact, Charcoal, sans-serif">Team Name: {{recommendation.eventName}}</span>
	                    </md-card-title-text>
	                </md-card-title>
    <md-card-content>
        <md-content>
            <md-list ng-cloak>
                <md-list-item ng-repeat="team in recommendation.teams" ng-href="team.html?event={{recommendation.eventName}}&team={{team.teamName}}" class="md-3-line">
                    <div class="md-list-item-text" layout="column">
                        <p style="color: #960E20 ;font-size: 15px; padding-bottom: 5px; font-family: Impact, Charcoal, sans-serif">Available: {{team.placesLeft}}</p>
                        <hr>
                        <!-- <p>Team's Prefer Tag ({{team.missingSkillsMatch.number}}): {{team.missingSkillsMatch.match.join(", ")}}</p> -->
                        <p style="color: #960E20 ;font-size: 15px; padding-bottom: 5px; font-family: Impact, Charcoal, sans-serif">You and Team's Prefer Tag ({{team.skillsMatch.number}} found):
                        {{team.skillsMatch.match.join(", ")}}</p>
                    </div>
                    <md-button ng-click="requestTeam(recommendation.eventName, team.teamName)" class="md-secondary"><p style="color: #960E20 ;font-size: 15px; padding-bottom: 5px; font-family: Impact, Charcoal, sans-serif">Request</p></md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </md-card-content>
	            </md-card>
	        </div>
	    </div>
	</div>
	</div></div>

	<div ng-if="!user">
	<p>no user is signed in</p>
	</div>
</div></div></div></div>
      <footer>
        <div class="container">
          <div class="row">
            <div class="col-lg-12 text-center">
              <p>Copyright &copy; Your Website 2014</p>
            </div>
          </div>
        </div>
      </footer>
</main>

    <!-- JavaScript of this page -->

    <script src="lib/angular.min.js"></script>
    <script src="lib/angular-route.min.js"></script>

    <script src="lib/firebase.js"></script>
    <script src="lib/angularfire.min.js"></script>

    <!-- UI Bootstrap CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.2.0/ui-bootstrap.min.js"></script>

    <!-- Angular Material CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js"></script>

    <script src="js/member.js"></script>
    <style>
    .nav-tabs li>a{
       /* height: 43px;*/
        padding-top: 4px;
        padding-bottom: 4px;
    }
    </style>
</body>
</html>
